<template lang="pug">
    v-app#inspire
        include panel/head.pug
        v-content
            v-container(fill-height)
                v-layout(align-center justify-center v-show='!serverConnected')
                    v-flex(xs12 sm6 md3)
                        h2.font-weight-thin.headline.text-sm-center
                            | Установка связи с сервером...
                v-layout(justify-center)
                    v-flex.pt-3(v-show='serverConnected' xs12 sm10 md8)
                        router-view.view

</template>

<script>
	export default {
		data   : () => ({
			routerStack    : router.panel,
			serverConnected: false
		}),
		methods: {
			async webApiReady() {
				this.serverConnected = true;
			},
			logout() {
				window.location.href = '/logout';
			}
		}
	};
</script>
<style>
    a.v-breadcrumbs__item {
        color : #ffffff;
    }
</style>