<template lang='pug'>
    v-app#login
        v-content
            .text-xs-center
                v-dialog(v-model='loginError' width='400')
                    v-card
                        v-card-title.title.blue.darken-3
                            | Ошибка входа
                        v-card-text
                            | Неверное имя пользователя или пароль
                            br
                            br
                        v-divider
                        v-card-actions
                            v-spacer
                            v-btn(color='primary' flat='' @click='loginError = false')
                                | Ok
            v-container(fluid fill-height)
                v-layout(align-center justify-center)
                    v-flex(xs12 sm6 md3 v-show='!loginShow')
                        h2.font-weight-thin.headline.text-sm-center
                            | Подождите, устанавливаем связь с сервером!
                    v-flex(xs12 sm6 md3 v-show='loginShow')
                        v-card.elevation-12
                            v-card-text
                                v-form
                                    v-text-field(@input='checkLogin'
                                                v-model='login.login'
                                                :rules='[rules.required]'
                                                :hint = 'loginHint'
                                                return-masked-value
                                                name="rLogin"
                                                prepend-icon='person'
                                                label='Имя пользователя'
                                                type='text')
                                    //Пароль
                                    v-text-field(
                                    @input='checkPassword'
                                    v-model='login.password'
                                    name="rPassword"
                                    validate-on-blur
                                    counter
                                    prepend-icon='lock'
                                    label='Пароль'
                                    type='password'
                                    hint='Не меньше 8 символов'
                                    )
                            v-card-actions
                                v-spacer
                                v-btn(
                                @click='doLogin'
                                :disabled = '!(loginCheck&&passwordCheck)'
                                color='primary'
                                ) Вход
</template>

<script>
	export default {
		data   : () => ({
			login         : {
				login   : '',
				password: ''
			},
			loginShow     : false,
			loginError    : false,
			loginHint     : '',
			loginCheck    : false,
			passwordCheck : false,
			drawer        : null,
			rules         : {
				required: value => !!value || 'Требуется',
				minPass : v => v.length >= 8 || 'Не меньше 8 символов'
			}
		}),
		props  : {
			source: String
		},
		methods: {
			async doLogin() {
				let res=await webApi.emit('user login', this.login);
				if (!res) {
					this.loginError = true;
				} else {
					window.location.href = `/login/process?token=${res}`;
				}
			},
			async checkPassword() {
				this.passwordCheck = this.login.password.length >= 8;
			},
			async checkLogin() {
				if (this.login.login.length < 3) {
					this.loginCheck = false;
					this.loginHint = 'Слишком короткий';
					return;
				}
				this.loginHint = '';
				this.loginCheck = true;
			}
		}
	};
</script>

<style>
</style>
