<template lang="pug">
    div
        v-layout(row wrap)
            v-flex(xs12)
                v-progress-linear(v-model="cooldown.value"
                :active="cooldown.show"
                :indeterminate="cooldown.query"
                :query="true")
                v-text-field(v-model="message"
                :append-icon="message ? 'mdi-send' : ''"
                box
                label="Введите сообщение"
                :hint="user.login"
                type="text"
                @keyup.enter="messageSend"
                @click:append="messageSend")
        template
            v-layout(row)
                v-flex(xs12)
                    v-card
                        v-toolbar(color='indigo lighten-2' dark)
                            v-toolbar-side-icon(@click="dialog.open = true")
                                v-icon settings
                            v-toolbar-title Текущий чат
                            v-spacer
                        v-list(two-line, subheader)
                            v-list-tile(v-for='msg in history' :key="msg.id" avatar @click)
                                v-list-tile-avatar
                                    v-icon(class='grey lighten-1 white--text') {{ msg.user.admin ? "mdi-account-key" : "mdi-account" }}
                                v-list-tile-content
                                    v-list-tile-title {{ msg.user.login }}
                                    v-list-tile-sub-title {{ !user.ignores[msg.userId] ? msg.message : 'Вы игнорируете этого человека' }}
                                v-list-tile-action
                                    v-btn(icon, ripple v-if="user.admin || msg.user.login == user.login" @click="messageRemove(msg)")
                                        v-icon(color='red lighten-1') close
        v-dialog(v-model="dialog.open" fullscreen hide-overlay transition="dialog-bottom-transition")
            v-card
                v-toolbar(dark='', color='primary')
                    v-btn(icon='', dark='', @click='dialog.open = false')
                        v-icon close
                    v-toolbar-title Настройки чата
                    v-spacer
                    v-toolbar-items
                        v-btn(dark='', flat='', @click='saveClose()') Сохранить
                v-list(three-line='', subheader='')
                    v-subheader Основные
                    v-list-tile(avatar='')
                        v-list-tile-action
                            v-checkbox(v-model='user.settings.globalChat')
                        v-list-tile-content
                            v-list-tile-title Глобальный чат
                            v-list-tile-sub-title Показывать сообщения от других участников чата, а не только от своих друзей
                v-divider
                v-list(three-line='', subheader='')
                    v-subheader Звук
                    v-list-tile(avatar='')
                        v-list-tile-action
                            v-checkbox(v-model='user.settings.soundGlobal')
                        v-list-tile-content
                            v-list-tile-title Глобальный чат
                            v-list-tile-sub-title Проигрывать звук, когда приходит новое сообщение
                    v-list-tile(avatar='')
                        v-list-tile-action
                            v-checkbox(v-model='user.settings.soundLocal')
                        v-list-tile-content
                            v-list-tile-title Ответы
                            v-list-tile-sub-title Проигрывать звук, когда вам отвечают
                v-divider
                v-list(three-line='', subheader='')
                    v-subheader Подключенные клиенты
                    v-list-tile(v-for="con in connects" :key="con.id" avatar)
                        v-list-tile-action(v-if="user.id !== con.id")
                            v-checkbox(v-model="user.ignores[con.id]")
                        v-list-tile-action(v-if="user.admin")
                            v-btn(icon @click="kick(con)")
                                v-icon(color="red") close
                        v-list-tile-content
                            v-list-tile-title {{ con.login }}
                            v-list-tile-sub-title Проигрывать звук, когда приходит новое сообщение



</template>

<script>
	export default {
		data   : () => ({
			dialog  : {
				open: false
			},
			cooldown: {
				value   : 0,
				query   : false,
				show    : false,
				interval: 0
			},
			user    : {
				login   : "",
				admin   : false,
				settings: {
					globalChat : true,
					soundGlobal: false,
					soundLocal : false
				},
                ignores: []
			},
			message : "",
			history : [],
			connects: []
		}),
		async mounted() {
			console.log('0');
			this.history = (await webApi.emit('messages fetch')).history;
			this.user = (await webApi.emit('credentials get')).user;
			this.connects = await webApi.emit('connects update');

			let newIgnore = {};
			for (let i = 0; i < this.user.ignores.length; i++)
				newIgnore[this.user.ignores[i].ignoreId] = this.user.ignores[i].ignore;
			this.user.ignores = newIgnore;

			this.user.settings = this.user.settings[0];
			webApi.on('message on send', (msg) => {
				if (!this.user.settings.globalChat) return;

				this.history.unshift(msg);

				if (msg.user.login === this.user.login) {
					this.message = "";
					this.cooldown.query = false;
					this.cooldown.interval = setInterval(() => {
						if (this.cooldown.value === 100) {
							clearInterval(this.cooldown.interval);
							this.cooldown.show = false;
							this.cooldown.value = 0;
						}
						this.cooldown.value += 5;
					}, 100);
				}
			});
			webApi.on('connects update', (data) => {
				console.log("update", data);
				this.connects = data;
            });
			webApi.on('message on remove', async (msg) => {
				if (!this.user.settings.globalChat) return;

				for (let i = 0; i < this.history.length; i++)
					if (this.history[i].id === msg.id) {
						this.history.splice(i, 1);
						if (this.history.length < 10) {
							this.history = (await webApi.emit('messages fetch')).history;
						}
						return;
					}
			});
		},
		methods: {
			messageSend() {
				if (this.cooldown.show) return;

				webApi.emit('message send', {message: this.message});
				this.cooldown.show = true;
				this.cooldown.query = true;
			},
			messageRemove(msg) {
				webApi.emit('message remove', msg);
			},
			async saveClose() {
				await webApi.emit('credentials update', this.user);
				this.dialog.open = false;
			},
            kick(con){
				webApi.emit('connect kick', con);
            }
		}
	};
</script>

<style scoped>
    .v-progress-linear {
        margin : 0;
    }
</style>