<template lang='pug'>
    v-app#login
        v-content
            .text-xs-center
                v-dialog(v-model='regError' width='400')
                    v-card
                        v-card-title.title.blue.darken-3
                            | Ошибка регистрации
                        v-card-text
                            | Произошла ошибка при регистрации:
                            br
                            | {{regErrorText}}
                            br
                            br
                        v-divider
                        v-card-actions
                            v-spacer
                            v-btn(color='primary' flat='' @click='regError = false')
                                | Ok
            v-container(fluid fill-height)
                v-layout(align-center justify-center)
                    v-flex(xs12 sm6 md3 v-show='!registerShow')
                        h2.font-weight-thin.headline.text-sm-center
                            | Установка связи с сервером...
                    v-flex(xs12 sm6 md3 v-show='registerShow')
                        v-card.elevation-12
                            v-card-text
                                v-form
                                    //Логин
                                    v-text-field(@input='checkLogin'
                                                v-model='register.login'
                                                v-show='inviteCheck'
                                                :rules='[rules.required]'
                                                :hint = 'loginHint'
                                                return-masked-value
                                                name="rLogin"
                                                prepend-icon='person'
                                                label='Имя пользователя'
                                                type='text')
                                    //Пароль sad
                                    v-text-field(@input='checkPassword'
                                                v-model='register.password'
                                                v-show='inviteCheck'
                                                name="rPassword"
                                                validate-on-blur
                                                counter
                                                prepend-icon='lock'
                                                label='Пароль'
                                                type='password'
                                                hint='Не меньше 8 символов')

                                    v-text-field(@input='checkInvite'
                                                v-model='register.invite'
                                                v-show='inviteUse'
                                                :disabled='inviteCheck'
                                                :hint='inviteHint'
                                                :rules='[rules.required, rules.minInvite]'
                                                name="rInvite"
                                                validate-on-blur
                                                prepend-icon='card_giftcard'
                                                mask='NNNN-NNNN-NNNN-#####'
                                                label='Код приглашения'
                                                type='text')
                            v-card-actions
                                v-spacer
                                v-btn(
                                @click='doRegister'
                                v-show='inviteCheck'
                                :disabled = '!(inviteCheck&&loginCheck&&passwordCheck)'
                                color='primary'
                                ) Зарегистрировать
        v-footer(height='auto').pa-3
            v-layout(justify-center row wrap): v-spacer
                div(style='text-align: center;') © rever '2018
</template>

<script>
	export default {
		data   : () => ({
			register     : {
				login   : '',
				password: '',
				invite  : ''
			},
			registerShow : false,
			regError     : false,
			regErrorText : '',
			inviteHint   : '',
			loginHint    : '',
			inviteCheck  : false,
			inviteUse    : true,
			loginCheck   : false,
			passwordCheck: false,
			drawer       : null,
			rules        : {
				required : value => !!value || 'Требуется',
				minPass  : v => v.length >= 8 || 'Не меньше 8 символов',
				minInvite: v => v.length === 17 || 'Код введен не полностью'
			}
		}),
		props  : {
			source: String
		},
		methods: {
			async doRegister() {
				var ret = await webApi.emit('user register', this.register);
				this.regError = true;
				if (!ret) {
					this.regErrorText = 'Произошла неизвестная ошибка';
				}
				if (ret.result === 'ok') {
					this.regError = false;
					window.location.href = '/login';
				}
				this.regErrorText = ret.msg;
			},
			async checkInvite() {
				if (this.register.invite.length === 17) {
					this.inviteCheck = await webApi.emit('user check invite', {invite: this.register.invite});

					if (this.inviteCheck === false) this.inviteHint = 'Неверный код приглашения';
					if (this.inviteCheck === null) this.inviteHint = 'Этот код приглашения уже использован';
				} else {
					this.inviteHint = '';
					this.inviteCheck = false;
				}
			},
			async checkPassword() {
				this.passwordCheck = this.register.password.length >= 8;
			},
			async checkLogin() {
				if (this.register.login.length < 3) {
					this.loginCheck = false;
					this.loginHint = 'Слишком короткий';
					return;
				}
				if (!await webApi.emit('user check login', {login: this.register.login})) {
					this.loginCheck = false;
					this.loginHint = 'Такой пользователь уже зарегистрирован';
					return;
				}
				this.loginHint = '';
				this.loginCheck = true;
			}
		}
	};
</script>

<style>
    .v-card__actions {
        padding : 8px 18px 18px 8px !important;
    }

    .v-card__text {
        padding : 18px 16px 0 !important;
    }

    .v-dialog--active .v-card__title {
        padding : 8px !important;
    }

    .v-dialog--active .v-card__actions {
        padding : 8px 18px 8px 8px !important;
    }
</style>
